NEXT_PUBLIC_SUPABASE_URL=https://tybagrqpymoaxocmacxh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InR5YmFncnFweW1vYXhvY21hY3hoIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzYwMTc4MDQsImV4cCI6MjA5MTU5MzgwNH0.DWAe_H2i48BewXqIldspSws4-7a0rmud7cRMlw_-Y8A
